main{
    background-image: linear-gradient( pink, yellow);
    font-size: 15px;
}
#containerdiv{
    display: grid;
    justify-content: center;
    margin: auto;
    align-items: center;
    grid-template-columns: auto 27% auto;
    grid-template-rows: auto;
    width: 70%;
    height: 100%;
    margin: 30px;
}
#first{
    background-color:hsl(31, 77%, 52%) ;
    padding: 5px;
    margin-left: 400px;
    height: 50%;
    width: 275px;
}
#second{
    background-color:hsl(184, 100%, 22%) ; 
    padding: 5px;
    height: 50%;
    width: 100%;
}
#third{
    background-color:hsl(179, 100%, 13%) ;
    padding: 5px;
    height:50% ;
    width: 275px;
}
button{
    background-color:hsl(0, 0%, 95%) ;
    height: 10%;
    width: 35%;
    border-radius: 10px;
    border: none;
    margin: 16px;
}
h3{
    font-size: 40px;
    font-family: 'Lexend Deca';
    color: hsl(0, 0%, 95%);
    margin:10px;  
}
p{
    color:hsla(0, 0%, 100%, 0.75) ;
    font-size: 15px;
    margin:5px;
}
#button1{
    color:hsl(31, 77%, 52%);
    margin-top: 40px;
}
#button2{
    color:hsl(184, 100%, 22%) ;
    margin-top: 40px; 
}
#button3{
    color:hsl(179, 100%, 13%);
    margin-top: 40px;
}